<div class="property-cards-container">
  @for(property of properties(); track property.zpid) {
  <mat-card class="property-card">
    <img
      [src]="property.media.propertyPhotoLinks.highResolutionLink"
      width="512"
      height="341"
      alt="Property Image"
    />
    <mat-card-content class="property-card-content">
      <span class="price">{{ property.price.value | currency:'USD':'symbol':'1.0-0' }}</span>
      <span class="address">{{ property.address | addressPipe }}</span>
    </mat-card-content>
  </mat-card>
  }
</div>
